*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
    background-color: #293F50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    line-height: 44px;
    letter-spacing: 5px;
}
.header a{
    text-decoration: none;
}
.logo{
    border-top: 4px solid #648880;
    color: white;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 5px;
    
}
.logo:hover{
    color: #648880;
}
.navigation h3{
    letter-spacing: normal;
    
}
.navigation a{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
    letter-spacing: normal;
}
a {
    text-decoration: none;
    color: #888;
}
a:hover{
    color:  #648880;
}
h1,h2,h3,h4,h5,h6{
    color:  #648880;
}
h1, h3, h4, h5, p{
    margin-bottom: 22px;
}
.contain, .cont{
    width: 960px;
    margin: 0 auto;
}
.clums{
    width: 30%;
    text-align: justify;
}
.register{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    background-color: #293F50;
    color: #fff;
    padding: 22px 80px 66px 80px;
    font-size: 24px;
}
.register h2{
    font-size: 36px;
}
.register p{
    font-size: 24px;
    font-weight: 100;
}
.but{
    background-color: #293F50;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    color: white;
}
.but:hover{
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    color: #293F50;
}
.map{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:250px;
    margin-bottom: 2%;
}
.grid1{
    margin: 0 auto;
    width: 960px;
}
.map1{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:250px;
}
.venue-map{
    width: 70%;
}
.theatre{
    width: 40%;
}
img{
    width: 288px;
    border-radius: 5px;
}
.footer{
    background-color: #293F50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 30px 44px 30px;
    font-size: 14px;
}
.copy{
    color:  #648880;
}
.raw{
    background:linear-gradient(to right,#a1d3b0, #f6f1d3);
    padding-top: 44px;
    padding-bottom: 22px;
    height: 100px;
}
.reg{
    width: 960px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.art{
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    margin: 0 auto;

}
.pass{
    width: 100%;
    background: #fff;
    padding-top: 66px;
    padding-bottom: 44px;
}
.grid{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: space-between;
}
.attend,.fill{
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}
.attend{
    width: 66.66%;
}
input, textarea, select{
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
    width: 100%;
}
textarea{
    height: 78px;
}
select{
    height: 34px;
    width: 60px;
}
button{
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14p;border-radius: 5px;

}
button:hover{
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
